ÉTAPE 1:


ÉTAPE 1:
Découper le poulet en morceaux, nettoyer les moules, émincer le chorizo et les poivrons, peler et concasser les tomates, hacher les oignons et l'ail.

ÉTAPE 2 : 
Mettre l'huile dans le plat et faire dorer les morceaux de poulet. Ajouter les calamars, les oignons tout en remuant puis mettre les tomates, les poivrons, l'ail, le safran, le sel et le poivre. Laisser cuire 5 minutes en remuant avant d'incorporer le riz, le chorizo et le bouillon.

ÉTAPE 3 : 
Y plonger les crevettes et les moules, porter à ébullition puis laisser cuire environ 30-35 minutes.
/Back-end/build/
/Back-end/dist/
/Back-end/nbproject/private/
