.container_page{
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50vw;
    text-align: center;
    padding: 5em;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.content h1{
    font-size: 50px;
    margin-bottom: 12px;
}

.content p{
    font-size: 20px;
}