@media screen and (max-width:1100px){
    .container_page_videos{
        margin-top: 8vh;
        display:flex;
        flex-direction: column;
    }
}

body {
    overflow-x: hidden;
}

/* POUR LA PAGE D'ACCUEIL */
.container_page_banderole{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(0,0, 0, 0.7);
}

h1{
    color: #fff;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
}

#carousselImages{
    display: flex;
    flex-direction: row;
}

#droiteCont{
    margin: 90px;
    width: 15vh;
    height: 15vh;
    cursor:pointer;
}

#droiteCont img{
    border-radius: 7px;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#line1{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform: rotate(45deg);
    transform-origin: left;
    left: 63%;
    position: absolute;
    top: 41%;
}

#line2{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform: rotate(-45deg);
    transform-origin: left;
    left: 63%;
    position: absolute;
    top: 30%;
}

#line3{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform-origin: left;
    left: 63%;
    position: absolute;
    top: 35%;
}

#line4{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform: rotate(-45deg);
    transform-origin: left;
    right: 61%;
    position: absolute;
    top: 51%;
}

#line5{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform: rotate(45deg);
    transform-origin: left;
    left: 31%;
    position: absolute;
    top: 19%;
}

#line6{
    border-bottom: 6px solid rgb(255, 255, 255);
    border-radius: 6px;
    width: 8vw;
    transform-origin: left;
    right: 63%;
    position: absolute;
    top: 35%;
}

#gaucheCont{
    margin: 90px;
    width: 15vh;
    height: 15vh;
    cursor:pointer;
}

#gaucheCont img{
    border-radius: 7px;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#imgCont{
    margin: auto;
    width: 35vh;
    height: 35vh;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor:pointer;
    position: relative;
    left:0vh;
}

#imgCont2{
    margin: auto;
    width: 35vh;
    height: 35vh;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor:pointer;
    position: relative;
    display:none;
    right:-150vh;

}

#imgCont3{
    margin: auto;
    width: 35vh;
    height: 35vh;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor:pointer;
    position: relative;
    display:none;

}

.container_page_banderole img{
    border-radius: 7px;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.banderole{
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.texte_decouverte{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    z-index: 1;
    text-align: center;
}
.texte_decouverte p{
    margin-top:0.5vh;
    margin-bottom: 1vh;
    font-size: 2vh;
}
.texte_decouverte h2{
    margin-top:1vh;
    font-size: 3vh;
}
.container_page_videos{
    margin-top: 8vh;
    display:flex;
    /* met en space between les 2 div */
    justify-content: space-around;
}
.video{
    box-shadow: 0px 1px 1px #888, 0px -2px 10px rgba(255, 255, 255,0.2);
    position:relative;
    height:300px;
}
.texte_video{
    overflow: hidden;
    position:absolute;
    padding-left: 2vh;
    padding-right: 2vh;
    /*met une scroll bar si le texte est trop long */
    overflow-y: scroll;
    top: 0;
    right:0;
    font-size: 2vh;
    color:#fff;
    background: rgba(0,0, 0, 0.5);
    width: 60%;
    height: 100%;
    text-align: center;
}
/*rend la scroll bar invisible */
.texte_video::-webkit-scrollbar {
    display: none;
}
.texte_video p{
    overflow: hidden;
    font-size: 2.7vh;
}

.milVgau{
    animation: milVgau 2s;
}

.droVmil{
    animation: droVmil 2s;
}

@keyframes milVgau {
    0% {
        left:32.5vh;
    }
    100% {
        left: -150vh;
    }
}

@keyframes droVmil {
    0% {
        right:-150vh;
    }
    100% {
        right: 32.5vh;
    }
}

@keyframes gauVmil {
    0% {
        left:-150vh;
    }
    100% {
        left: 32.5vh;
    }
}