.container_page{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 3em 12em 0;
    padding: 5em;
    border-radius: 10px;
}


.container_page h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 1em;
}

.container_item h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.container_liste .title{
    font-size: 20px;
    padding: 5px;
    border-bottom: 3px dotted white;
    margin-bottom: 8px;
}

.container_liste .liste{
    display: flex;
    flex-wrap: wrap;
}

.container_liste .liste::-webkit-scrollbar {
    height: 15px;
  }

.container_liste .liste::-webkit-scrollbar-track{
    background-color: transparent;
}

.container_liste .liste::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 8px;
}

.container_liste .plat{
    cursor: pointer;
    width: 200px;
    height: 230px;
    background-color: black;
    border: 3px solid white;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.5s;
}

.container_liste .plat:hover{
    transform: scale(1.1);
}

.container_liste .plat p{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#preferences{
    margin-bottom: 30px;
}