#bg_fiche_plat{
    background-color:rgb(0, 0, 0);
    width: 50%;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 7px;
    left: 23.5%;
    margin-top: 20px;
}

a {
    color: #fff;
}

a:hover{
    color: rgb(90, 87, 87);
}

#fiche_plat{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
}

#fiche_plat_haut{
    display: flex;
    border-radius: 7px;
    flex-direction: row;
}

#fiche_plat_infos{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 1vw;
    width: 28vw;
}

#fiche_plat_img{
    margin-left:10px;
    width: 35vh;
    height: 35vh;
    border: 2px solid #fff;
    margin-top:10px;
    border-radius: 7px;
}

#fiche_plat_img img{
    border-radius:7px;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

#fiche_plat_ingredients{
    display: flex;
    flex-wrap: wrap;
}

.ingred{
    /** width: get the width of the text */
    width: 25%;
    /** align text to the center */
    text-align: center;

}

.favbutton{
    background-image: url('../img/nofav.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    caret-color: transparent;
}

.favbutton.active{
    background-image: url('../img/fav.png');
}

#fiche_plat_recette{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

#fiche_plat_note{
    display:flex;
}

#note{
    display:flex;
    align-items: center;
    margin-left:5px;
    margin-top: 3px;
}

.etoile-pleine{
    background-image: url('../img/etoile-pleine.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    caret-color: transparent;
    display:inline-flex;
}

.etoile-vide{
    background-image: url('../img/etoile-vide.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    caret-color: transparent;
    display:inline-flex;
}

.etoile-moitie-pleine{
    background-image: url('../img/etoile-moitie-pleine.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    caret-color: transparent;
    display:inline-flex;
}