.container_form_content_propo{
    width:100%;
}
form{
    display:flex;
    justify-content: center;
}
.inline{
    display: flex;
    background-color:rgba(0,0, 0, 0.5);
    border-radius: 10px;
    margin-top: 3%;
    width:95%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-top: 1vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input input {
    width: 90%;
    height: 4vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input textarea{
    width: 90%;
    height: 4vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input select{
    width: 90%;
    height: 4vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input select:focus{
    outline: none;
}
.input select option{
    background-color:rgba(0,0, 0, 1);
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input select option:hover{
    background-color:rgba(0,0, 0, 0.8);
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input_description textarea {
    width: 90%;
    height: 10vh;
    border-radius: 10px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
    resize:none;
}
.input_recette textarea {
    width: 90%;
    height: 12vh;
    border-radius: 10px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
    resize:none;
}
.input_recette a{
    width: 90%;
    color: rgb(255, 0, 0);
    font-size: 1em;
    justify-content: flex-start;
    padding-top: 1vh;
}
.input_recette a.savoir_plus{
    padding-top: 1vh;
    color:white;
}
.input textarea::placeholder{
    color: rgba(255, 255, 255, 0.41);
}
.input input::placeholder {
    color: rgba(255, 255, 255, 0.41);
}
.input input:focus {
    outline: none;
}
.input textarea:focus {
    outline: none;
}
.button_propo{
    margin-top: 1vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button_propo input {
    border-radius: 6px;
    height:4.5vh;
    padding-left: 10%;
    padding-right: 10%;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.6);
    color: #fff;
    font-size: 1.1em;
    font-weight: 1000;
    cursor: pointer;
}
.button_propo input:hover {
    border-radius: 8px;
    background-color:rgba(0,0, 0, 1);
}
.input label {
    margin: bottom 5px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 1.4em;
    font-weight: 800;
}
.btn_ajouter{
    background-color: transparent;
    margin-top: 1vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input_ingr{
    width: 90%;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input_ingr::placeholder{
    color: rgba(255, 255, 255, 0.41);
}
.input_ingr:focus{
    outline: none;
}
.input_ingr label {
    margin: bottom 5px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
}
.input_ingr input{
    width: 10%;
    height: 4vh;
    border-radius: 10px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

#ingr-select{
    width: 40%;
    height: 4vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1rem;
    text-align: center;
}
#unite-select{
    margin-left:1%;
    width: 35%;
    height: 4vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1rem;
    text-align: center;
}
#quantite{
    margin-left:1%;
    width: 15%;
    height: 3.5vh;
    border-radius: 10px;
    border: #fff solid 3px;
    background-color:rgba(0,0, 0, 0.5);
    color: white;
    font-size: 1rem;
    text-align: center;    
}
#quantite::placeholder{
    color: rgba(255, 255, 255, 0.41);
}
#quantite:focus{
    outline: none;
}
#quantite::-webkit-outer-spin-button,
#quantite::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container_ingr{
    display:flex;
    margin-bottom: 1vh;
}
.input_file{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container_principal{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.btn-secondary{
    margin-top:1vh;
    background-color: transparent;
    border:none;
    filter:drop-shadow(2px 2px 1px rgb(0, 0, 0));
}
.btn-secondary img{
    width: 3.5vh;
    height: 3.5vh;
    border:#fff solid 2px;
    cursor: pointer;
}
.last_input{
    margin-bottom: 4vh;
}
option{
    background-color:rgba(0,0, 0, 1);
}